@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for premium feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}

/* Leaflet Map Height */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Dark mode base */
body {
  background-color: #0f172a; /* slab-900 */
  color: #f8fafc; /* slate-50 */
}
